// 
// user.scss
// Use this to write your custom SCSS
//
@font-face {
    font-family: 'Inter';
    src: url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
  }
  
  body{
    font-family: 'Inter';
    font-size: 0.875rem;
  }
  
  $color-gray-1: #B3B3B3;
  $color-gray-2: #282828;
  $color-gray-3: #181818;
  $color-gray-4: #121212;
  $color-primary: #F3903F;
  
  @mixin border-radius {
    border-radius: 0.25rem;
  }
  
  .size-24{
    font-size: 1.5rem;
  }
  
  .h6{
    font-size: 1rem !important;
    line-height: 1.25rem !important;
  }
  
  .bg-dark{
    background-color: $color-gray-4 !important;
  }
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6{
    color: $white;
  }
  
  .rounded{
    border-radius: 0.125rem !important;
  }
  
  .text-muted {
    color: $color-gray-1;
  }
  
  .f-base{
    font-size: 0.875rem;
  }
  
  .f-title{
    font-size: 1.5rem;
  }
  
  .form-control{
      
  }