.for-etc{
    margin-top: 80px;
    background-image: url(../../img/background.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 100%;
    height: calc(100vh - 80px); // 80px is header height
}

.for-form{
    margin-top: 80px;
}

.package-price{
    
}