// $color-gray-1: #B3B3B3;
// $color-gray-2: #282828;
// $color-gray-3: #181818;
// $color-gray-4: #121212;

.widget-list-item{
    margin-bottom: 0;
    i{
      font-size: 1.5rem;
      vertical-align: middle;
      position: relative;
      margin-top: -4px;
    }
    .widget-list-link{
      padding: 0.7rem 1.25rem;
      @include border-radius;
      &:hover{
        background: $color-gray-4;
      }
    }
}

.btn-nav{
    color: $white;
    background-color: rgba($color:  $color-gray-2, $alpha: 1.0);
    padding: 0.425rem 0.65rem;
    &:hover{
        background-color: rgba($color:  $color-gray-2, $alpha: .5);
        color: $white;
    }
}

//Extra large
@media screen and (max-width: 1200px) {
    .widget-list-item{
      .text-truncate{
        display: none;
      }
    }
  }