.product-card-alt {
  background-color: $color-gray-3;
  @include border-radius;
  .product-thumb {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.938rem;
    img{
      box-shadow: 0 .5rem 1rem rgba($black, .15);
    }
  }
  &:hover, .active-card{
    background-color: $color-gray-2;
    box-shadow: 0 1rem 3rem rgba($black, .175);
    .product-thumb-overlay{
      display: block;
    }
  }
  .card-body{
    padding:0 0.938rem 0.938rem!important;
  }
}

.product-title {
  height: 2.5rem;
  > a{
    color: $white;
    &:hover{
      opacity: 0.8;
      color: $white;
    }
  }
}

// Links
.l-more{
  color: $color-gray-1;
  &:hover{
    opacity: 0.8;
    color: $color-gray-1;
  }
}


